<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <title>
      {{ shop.name }}
    </title>

    {% if page_description %}

      <meta name="description" content="{{ page_description | escape }}">

    {% endif %}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="{{ canonical_url }}">

      {% comment %} <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}"> {% endcomment %}

    <link rel="icon" type="image/png" sizes="16x16" href="/assets/icon_16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/icon_32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/icon_96.png">

    {% render "meta-tags" %}

    {{ content_for_header }}

    {{ "main.css" | asset_url | stylesheet_tag }}

    <script src="{{ 'global.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'details-modal.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'password-modal.js' | asset_url }}" defer="defer"></script>
  </head>

  <body class="password gradient">
    <a class="skip-to-content-link button visually-hidden" href="#main_content">
      {{ "accessibility.skip_to_text" | t }}
    </a>

    {% section "main-password-header" %}

    <main id="main_content" class="password-main">
      {{ content_for_layout }}
    </main>
    <footer>

      {% section "main-password-footer" %}

    </footer>
    <ul hidden>
      <li id="a11y-new-window-message">
        {{ "accessibility.link_messages.new_window" | t }}
      </li>
    </ul>
  </body>
</html>
