<div class="c_footer ~~invert">
  <div class="l_container">
    <div class="l_flex --loose --justify-between">
      <div class="l_flex__item --span-12 --span-3--md">
        <a href="https://shop.lrtlubricants.co.uk/" target="_blank" rel="noopener" class="e_button --large u_margin-bottom--s2 u_margin-bottom--s3--md">
          <svg class="c_feather-icon"><use xlink:href="/assets/feather.svg#shopping-cart"/></svg>Online Store</a>
      </div>
      <div class="l_flex__item">
        <h6 class="--h7">Contact Details</h6>
        <dl class="u_margin-bottom--none">
          <dt>Phone</dt>
          <dd>
            <a href="tel:{{ contact.phone.default.href }}">{{ contact.phone.default.display }}</a>
          </dd>
          <dt>Email</dt>
          <dd>
            <a href="mailto:{{ contact.email.default }}">{{ contact.email.default }}</a>
          </dd>
          <dt>Post</dt>
          <dd>{{ contact.address.default }}</dd>
        </dl>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Footer",
    "settings": []
  }
{% endschema %}
