<section class="c_band">
  <div class="l_container">

    {%- if settings.show_cart_note -%}

      <div>
        <label for="Cart-note">Order special instructions</label>
        <textarea name="note" form="cart" id="Cart-note" placeholder="Order special instructions">

          {{ cart.note }}

        </textarea>
      </div>

    {%- endif -%}

    <div class="cart__blocks">

      {% for block in section.blocks %}

        {%- case block.type -%}

          {%- when "@app" -%}

            {% render block %}

          {%- when "subtotal" -%}

            <div class="js-contents" {{ block.shopify_attributes }}>

              <div>

                {%- if cart.cart_level_discount_applications.size > 0 -%}

                  <ul class="discounts list-unstyled" role="list" aria-label="Discount">

                    {%- for discount in cart.cart_level_discount_applications -%}

                      <li class="discounts__discount discounts__discount--position">

                        {%- render "icon-discount" -%}

                        {{ discount.title }}

                        (-{{ discount.total_allocated_amount | money }})

                      </li>

                    {%- endfor -%}

                  </ul>

                {%- endif -%}

              </div>

              <div class="totals">
                <h2 class="totals__total">Estimated total</h2>
                <p class="totals__total-value">{{ cart.total_price | money_with_currency }}</p>
              </div>

              <small class="tax-note caption-large rte">

                {%- if cart.taxes_included and shop.shipping_policy.body != blank -%}

                  {{ "sections.cart.taxes_included_and_shipping_policy_html" | t: link: shop.shipping_policy.url }}

                {%- elsif cart.taxes_included -%}

                  Tax included and shipping and discounts calculated at checkout

                {%- elsif shop.shipping_policy.body != blank -%}

                  {{ "sections.cart.taxes_and_shipping_policy_at_checkout_html" | t: link: shop.shipping_policy.url }}

                {%- else -%}

                  Taxes, discounts and shipping calculated at checkout

                {%- endif -%}

              </small>
            </div>

          {%- else -%}

            <div class="cart__ctas" {{ block.shopify_attributes }}>
              <button type="submit" id="checkout" class="cart__checkout-button button" name="checkout" {% if cart == empty %} disabled {% endif %} form="cart">Check out</button>
            </div>

            {%- if additional_checkout_buttons -%}

              <div class="cart__dynamic-checkout-buttons additional-checkout-buttons">

                {{ content_for_additional_checkout_buttons }}

              </div>

            {%- endif -%}

        {%- endcase -%}

      {% endfor %}

      <div id="cart-errors"></div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "t:sections.main-cart-footer.name",
    "class": "cart__footer-wrapper",
    "settings": [],
    "blocks": [
      {
        "type": "subtotal",
        "name": "t:sections.main-cart-footer.blocks.subtotal.name",
        "limit": 1
      },
      {
        "type": "buttons",
        "name": "t:sections.main-cart-footer.blocks.buttons.name",
        "limit": 1
      },
      {
        "type": "@app"
      }
    ]
  }

{% endschema %}
